 body{ 
    padding: 70px;
 }
 .p {
     margin: 0px;
 }
 .list-group-item {
     align-items: center;
     display: flex;
     justify-content: space-between;
     font-size: 1.3rem;
 }
 .complete {
     text-decoration: line-through;
 }
form button {
    width: 100%;
}
 